body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0f2bab;
    color: #fcfcfc;
}

header {
    background-color: #d25e5e;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #040d44;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

footer {
    background-color: #0c1341;
    text-align: center;
    padding: 10px;
}